/*contains the font family for the whole site and creates the background of the site*/
html{
    font-family: oswald;
    background: #EFF2C0;
    margin: 0;
}

/*contains the font size for containers*/
h2{
    color: aliceblue
}

/*contains the font size for containers*/
p{
    color:aliceblue
}

/*aligns the first image into the center of the page*/
.firstimage{
    text-align: center;
}

/*creates the animation for the first image to fade in and also creates the rounded edges and border color*/
.firstimage img{
    width: 1000px;
    height: auto;
    border: 4px solid #080F0F;
    border-radius: 25px;
    animation-name: fadeIn;
    animation-duration: 3s;
}

/*creates font size for the title and also sets the animation*/
.title{
    text-align: center;
    font-size: x-large;
    animation-name: fadeIn;
    animation-duration: 5s;
}

/*creates universal width of all elements with border box*/
*{
    box-sizing: border-box;
}

/*creates dimensions for the timeline*/
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/*inserts timeline with the height based off of the amount of containers, hence the ::after*/
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ab504f;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 0;
}

/*creates dimensions for the containers*/
.container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/*creates containers including images and text based on the content size and required container space*/
.container::after{
    left: 96.5%;
    top: 15px;
    position: absolute;
    content: "";
    border: 8px solid #ab504f;
    border-radius: 500%;
    background-color: #860503;
    height: 25px;
    width: 25px;
    z-index: 1;
}

/*sends the left containers and icons to the left side of the site*/
.left{
    left: 0;
}

/*sends the right containers and icons to the right side of the site*/
.right{
    left: 50%;
}

/*ensures correct positioning of left containers and icons, also that they are layered on top.*/
.left::before{
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0px;
    z-index: 1;
    right: 30px;
}

/*ensures correct positioning of right containers and icons, also that they are layered on top.*/
.right::before{
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0px;
    z-index: 1;
    left: 30px;
}

/*sends right icon to the right to make sure its centred on the timeline (bug fix)*/
.right::after{
    left: -20.5px;
}


/*establishes background color for the containers so it matches with the text background*/
.content{
    padding:20px 30px;
    background-color: #ab504f;
    position: relative;
    border-radius: 6px;
}

/* rounds off the edges of images in the container*/
.content-image{
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}


/*resizes the image in the containers*/
.content-image img{
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
    position: relative;
    transition: 0.3s;
    transform: scale(1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*image hover animation zoom*/
.content-image:hover img{
    transform: scale(1.1);
}

/*puts the button in the center*/
.button{
    text-align: center;  
}
/*sets the button settings and makes the background the same as site background so it covers the remaining timeline*/
.border-box{
    font-size: xx-large;
    color: #a52422;
    background-color: #EFF2C0;
    position: relative;
    z-index: 5;
}

/*makes the site responsive*/
@media screen and (max-width: 600px){
    .timeline::after{
        left:31px;
    }

    .container::before{
        left:60px;
        border: mediumvioletred;
        border-width: 10px 10px 10px 0;
        border-color: transparent red transparent transparent;
    }

    .left::after, .right::after{
        left: 15px;
    }

}

    


















