html{
    font-family: oswald;
    background: #EFF2C0;
    margin: 0;
}

.firstimage{
    text-align: center;
}

.firstimage img{
    width: 1000px;
    height: auto;
    border: 4px solid #080F0F;
    border-radius: 25px;
}

.title{
    text-align: center;
    font-size: x-large;
}

.timeline-container ul.funny li{
    list-style: none;
    margin: auto;
    min-height: 500px;
    border-left: 4px solid #a52422;
    left: 48%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.timeline-container ul.funny li .timeline-icon{
    left: -20px;
    top: 30px;
    position: absolute;
    content: "";
    border: 8px solid #ab504f;
    border-radius: 500%;
    background-color: #860503;
    height:20px;
    width:20px;
}

ul.funny li .timeline-text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

ul.funny li .timeline-title{
    padding: 500px,0,0,0
}








